@import "tailwindcss";

:root {
  --bg-light: hsl(0, 0%, 10%);
  --bg-base: hsl(0, 0%, 5%);
  --bg-dark: hsl(0, 0%, 0%);

  --text-base: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 70%);

  --accent: hsl(342, 96%, 29%);

  --border: hsl(0, 0%, 30%);
}

@theme inline {
  --color-bg-light: var(--bg-light);
  --color-bg-base: var(--bg-base);
  --color-bg-dark: var(--bg-dark);
  --color-text-base: var(--text-base);
  --color-text-muted: var(--text-muted);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --font-sans: var(--font-ubuntu), sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-base);
  color: var(--text-base);
  min-height: 100vh;
  font-family: var(--font-ubuntu), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
